/*  your css code here. If applicable */
.container {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 2px;
  margin: 20px auto;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: pink;
}

.o {
  background: purple;
  color: black;
}

.message {
  margin-top: 10px;
  font-size: 20px;
}
